<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="overflow">
        <ul class="portfolio-list">
        <li>
        <a href="/portfolio/beliyf">
          <img src="/assets/img/portfolio/beliyf/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Beliyf</h3>
            <p>Beliyf are organisational culture and identity specialists. ...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/invision">
          <img src="/assets/img/portfolio/invision/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>InVision</h3>
            <p>Invision asked me to design a poster and t-shirt design arou...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/future-insights-2015">
          <img src="/assets/img/portfolio/future-insights-2015/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Future Insights 2015</h3>
            <p>I redesigned the Future Insights website for 2015. Future In...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/stamps">
          <img src="/assets/img/portfolio/stamps/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>#IndyRef Stamps</h3>
            <p>To mark the occasion of the Scottish independance referendum...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/craftsmen">
          <img src="/assets/img/portfolio/craftsmen/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>Craftsmen</h3>
            <p>I was asked by French Digital Agency, Craftsmen to design th...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/mixd">
          <img src="/assets/img/portfolio/mixd/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>MIXD</h3>
            <p>I redesigned the identity and website for web agency, MIXD. ...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/future-insights">
          <img src="/assets/img/portfolio/future-insights/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Future Insights</h3>
            <p>I redesigned the Future Insights website for 2013/14. Future...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/shopify">
          <img src="/assets/img/portfolio/shopify/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>At the heart of what we do</h3>
            <p>Shopify kindly ask me to design a shirt around the concept o...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/mixture">
          <img src="/assets/img/portfolio/mixture/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>Mixture</h3>
            <p>As part of the Mixture team I designed the first version of ...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/create-dm">
          <img src="/assets/img/portfolio/create-dm/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>Create DM</h3>
            <p>I designed the website for Tunbridge Wells based App develop...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/smashing">
          <img src="/assets/img/portfolio/smashing/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Smashing Mobile Book</h3>
            <p>I was commissioned by Smashing Magazine to design the book c...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/berocca">
          <img src="/assets/img/portfolio/berocca/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Berocca Posters</h3>
            <p>I was commissioned by The Campaign Palace &amp; Berocca to c...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/olympics">
          <img src="/assets/img/portfolio/olympics/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Olympics 2012</h3>
            <p>With the Olympics in town in 2012, I was compelled to produc...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/giftrocket">
          <img src="/assets/img/portfolio/giftrocket/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>GiftRocket</h3>
            <p>I designed the identity, web app and marketing website for S...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/amazee">
          <img src="/assets/img/portfolio/amazee/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Amazee Labs</h3>
            <p>I designed the identity and website for Swiss based agency A...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/chirp">
          <img src="/assets/img/portfolio/chirp/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>Twitter Developer Conference</h3>
            <p>I created the identity and designed the website for Twitter'...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/microsoft">
          <img src="/assets/img/portfolio/microsoft/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Microsoft Banners</h3>
            <p>I designed and illustrated these display banners for Microso...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/twitter">
          <img src="/assets/img/portfolio/twitter/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Twitter Posters</h3>
            <p>As part of the Twitter developer conference, I designed thes...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/graphic-design">
          <img src="/assets/img/portfolio/graphic-design/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>Graphic Design</h3>
            <p>As part of a conference talk I gave, entitled Graphic Design...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/carsonified">
          <img src="/assets/img/portfolio/carsonified/thumb.png" class='js-img'>
          <div class="excerpt">
            <h3>Carsonified</h3>
            <p>Whilst at Carsonified, I redesigned the company website. I h...</p>
          </div>
        </a>
      </li><li>
        <a href="/portfolio/in-everyone">
          <img src="/assets/img/portfolio/in-everyone/thumb.jpg" class='js-img'>
          <div class="excerpt">
            <h3>In Everyone Album Art</h3>
            <p>I designed and illustrated the album artwork for Oli Hite's ...</p>
          </div>
        </a>
      </li>
        </ul>
      </div>
</body>
</html>